/* leaflet CSS */

/*section #main_map_division {*/

/*width: 1920px;*/
/*height: 1080px;*/

/*}*/

#main_map_division {
	width: 1900px;
	height: 890px;
	max-width: 100%;
	max-height: 100%;
	border-radius: 7px;
}


html, body {
	height: 100%;
	margin: 5px;
	background:#babdb6;
	border-color:#000;
	font-family: 'Helvetica', 'Arial',  sans-serif;
	text-align: left;
}

h3 {
text-decoration:none;
font-variant:small-caps;
margin:4px;
}

select {
	font-size:8px;
}

#text_area textarea{
background:#2e3436;
color:#4e9a06;
font-size:12px;
}

#text_area textarea span .keyword{
color:#670707;
}

/* Magic button style */
.pushable{
background: hsl(220deg 100% 32%);
border-radius: 12px;
border: none;
padding: 0;
cursor: pointer;
outline-offset: 4px;
}


.front {
display: block;
padding: 10px 22px;
border-radius: 12px;
font-size: 12px;
background: hsl(209deg 100% 47%);
color: white;
transform: translateY(-6px);
}

.pushable:active .front {
transform: translateY(-2px);
}


/* Magic button style for data table*/
.pushable_data{
background: hsl(134deg 76% 32%);
border-radius: 12px;
border: none;
padding: 0;
cursor: pointer;
outline-offset: 4px;
}


.front_data {
display: block;
padding: 10px 22px;
border-radius: 12px;
font-size: 12px;
background:  hsl(134deg 76% 38%);
color: white;
transform: translateY(-6px);
}

.pushable_data:active .front_data {
transform: translateY(-2px);
}

/* main map floating sections*/

#section_container{
	margin: 3px;
	width:1900px;
/*	float: center;*/
/*	overflow: hidden;*/
/*	margin-top: 1em;*/
/*	padding-top: 1em;*/
/*	border-top: 1px solid rgba(0, 0, 0, 0.2);*/
/*	text-align: center;*/
}

.row #column1{
	float: left;
	text-align:left;
	width: 500px;
	padding: 10px 10px 10px 10px;
}


.row #column2{
	float: left;
/*	text-align:center;*/
	width: 1350px;
	padding: 10px 10px 10px 10px;
}
